#create_background {   /* id */
background-color:#E0E0E0;

}

.CreateSetHeader-separator {
    border-top: 2px solid #455358;
    height: 0;
    margin-bottom: 14px;
}


hr.vertical
{
   width: 0px;
   height: 100%; /* or height in PX */
} 
hr.horizontal
{
  height: 3px; 
  border: 0; 
  margin: 1em 0; 
  padding: 0; 
  background-color:yellow;
}
.navbar {
  min-height: 100px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 35px 15px 15px 15px;
  font-size: 70px;
  line-height: 20px;
}

.form-control{
  height:55px;
}

.btn{
  font-size:29px;
  
}

textarea{
  overflow:hidden;
  resize: none;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width:130px;
    height:60px;
}

p.category_content{
    border: 2px solid red;
    width:30%;
    font-size:25px;
    display:inline-block;
    word-break: keep-all;
    white-space: normal;
    vertical-align:top;  

}

a.category:link, a.category:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:70%;
    border-style: ridge;  
}


a.category:hover, a.category:active {
    background-color: red;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

button.category_content
{
  vertical-align:top;  
  
}
h1.category_heaer
{
  
  background-color: #eee;
}
.b1{
  
  background-color:beige;
}


/*editor css*/


.toolbar a,
.fore-wrapper,
.back-wrapper {
  border: 1px solid #AAA;
  background: #FFF;
  font-family: 'Candal';
  border-radius: 1px;
  color: black;
  padding: 5px;
  width: 1.5em;
  margin: -2px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  
}
.circle-icon {
    background: #ffc0c0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    vertical-align: :center;
    padding-top:20px;
}

.toolbar a:hover,
.fore-wrapper:hover,
.back-wrapper:hover {
  background: #f2f2f2;
  border-color: #8c8c8c;
}

a[data-command='redo'],
a[data-command='strikeThrough'],
a[data-command='justifyFull'],
a[data-command='insertOrderedList'],
a[data-command='outdent'],
a[data-command='p'],
a[data-command='superscript'] {
  margin-right: 5px;
  border-radius: 0 3px 3px 0;
}

a[data-command='undo'],
.fore-wrapper,
a[data-command='justifyLeft'],
a[data-command='insertUnorderedList'],
a[data-command='indent'],
a[data-command='h1'],
a[data-command='subscript'] {
  border-radius: 3px 0 0 3px;
}

a.palette-item {
  height: 1em;
  border-radius: 3px;
  margin: 2px;
  width: 1em;
  border: 1px solid #ccc ;
}

a.palette-item:hover {
  border: 1px solid #CCC;
  box-shadow: 0 0 3px #333;
}

.fore-palette,
.back-palette {
  display: none;
}

.fore-wrapper,
.back-wrapper {
  display: inline-block;
  cursor: pointer;
}

.fore-wrapper:hover .fore-palette,
.back-wrapper:hover .back-palette {
  display: block;
  float: left;
  position: absolute;
  padding: 3px;
  width: 10em;
  background: #FFF;
  border: 1px solid #DDD;

  height: 4.4em;
}

.fore-palette a,
.back-palette a {
  background: #FFF;
  margin-bottom: 2px;
}

.verticalLine {
    border-left: thick solid #ff0000;
    height:200px;
}
div.vertical-line{
  width: 2px; /* Line width */
  background-color: pink; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
}
.no_focus {
    outline :0px solid transparent;
}
.circle-icon {
    background: #ffc0c0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    vertical-align: :center;
    padding-top:20px;
}

.toolbar a,
.fore-wrapper,
.back-wrapper {
  border: 1px solid #AAA;
  background: #FFF;
  font-family: 'Candal';
  border-radius: 1px;
  color: black;
  padding: 5px;
  width: 1.5em;
  margin: -2px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  
}

.toolbar a:hover,
.fore-wrapper:hover,
.back-wrapper:hover {
  background: #f2f2f2;
  border-color: #8c8c8c;
}

a[data-command='redo'],
a[data-command='strikeThrough'],
a[data-command='justifyFull'],
a[data-command='insertOrderedList'],
a[data-command='outdent'],
a[data-command='p'],
a[data-command='superscript'] {
  margin-right: 5px;
  border-radius: 0 3px 3px 0;
}

a[data-command='undo'],
.fore-wrapper,
a[data-command='justifyLeft'],
a[data-command='insertUnorderedList'],
a[data-command='indent'],
a[data-command='h1'],
a[data-command='subscript'] {
  border-radius: 3px 0 0 3px;
}

a.palette-item {
  height: 1em;
  border-radius: 3px;
  margin: 2px;
  width: 1em;
  border: 1px solid #ccc ;
}

a.palette-item:hover {
  border: 1px solid #CCC;
  box-shadow: 0 0 3px #333;
}

.fore-palette,
.back-palette {
  display: none;
}

.fore-wrapper,
.back-wrapper {
  display: inline-block;
  cursor: pointer;
}

.fore-wrapper:hover .fore-palette,
.back-wrapper:hover .back-palette {
  display: block;
  float: left;
  position: absolute;
  padding: 3px;
  width: 10em;
  background: #FFF;
  border: 1px solid #DDD;

  height: 4.4em;
}

.fore-palette a,
.back-palette a {
  background: #FFF;
  margin-bottom: 2px;
}

.verticalLine {
    border-left: thick solid #ff0000;
    height:200px;
}
div.vertical-line{
  width: 2px; /* Line width */
  background-color: pink; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
}
.no_focus {
    outline :0px solid transparent;
}
.circle-icon {
    background: #ffc0c0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    vertical-align: :center;
    padding-top:20px;
}
